<!-- =========================
         Banner layout 1
        =========================== -->
<section class="banner-layout3 py-0 bg-gray">
    <div class="container-fluid col-padding-0">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="banner-panel">
                    <div class="heading-layout2 mb-40">
                        <h2 class="heading__subtitle">How We Work In Three Easy Steps</h2>
                        <h3 class="heading__title">Pushing The Boundaries Of What’s Possible.</h3>
                        <p class="heading__desc">Yet those that embrace change are thriving, building bigger, better, faster,
                            and stronger products than ever before. You are helping lead the charge; we can help you build on your
                            past and prepare future changing faster than ever before.</p>
                    </div><!-- /.heading -->
                    <div class="row">
                        <!-- fancybox item #1 -->
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="fancybox-item">
                                <div class="fancybox-item__icon">
                                    <i class="icon-barrier"></i>
                                </div><!-- /.fancybox-icon -->
                                <div class="fancybox-item__content">
                                    <h4 class="fancybox-item__title">Evaluation & Signing Of The Contract.</h4>
                                    <p class="fancybox-item__desc d-flex align-items-center">
                                        <span class="divider-line divider-line-sm mr-2"></span><strong>Step 01</strong>
                                    </p>
                                </div><!-- /.fancybox-content -->
                            </div><!-- /.fancybox-item -->
                        </div><!-- /.col-lg-4 -->
                        <!-- fancybox item #2 -->
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="fancybox-item">
                                <div class="fancybox-item__icon">
                                    <i class="icon-measurement"></i>
                                </div><!-- /.fancybox-icon -->
                                <div class="fancybox-item__content">
                                    <h4 class="fancybox-item__title">Preparation Of The Work Plan.</h4>
                                    <p class="fancybox-item__desc d-flex align-items-center">
                                        <span class="divider-line divider-line-sm mr-2"></span><strong>Step 02</strong>
                                    </p>
                                </div><!-- /.fancybox-content -->
                            </div><!-- /.fancybox-item -->
                        </div><!-- /.col-lg-4 -->
                        <!-- fancybox item #3 -->
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="fancybox-item">
                                <div class="fancybox-item__icon">
                                    <i class="icon-excavator"></i>
                                </div><!-- /.fancybox-icon -->
                                <div class="fancybox-item__content">
                                    <h4 class="fancybox-item__title">Implementation Of Quality Works.</h4>
                                    <p class="fancybox-item__desc d-flex align-items-center">
                                        <span class="divider-line divider-line-sm mr-2"></span><strong>Step 03</strong>
                                    </p>
                                </div><!-- /.fancybox-content -->
                            </div><!-- /.fancybox-item -->
                        </div><!-- /.col-lg-4 -->
                    </div>
                </div><!-- /.banner-panel -->
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-12 col-lg-7">
                <img src="assets/images/banners/3.jpg" alt="banner" class="w-100">
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.Banner layout 1 -->