<section class="slider slider-layout3">
    <div class="slick-carousel carousel-arrows-light m-slides-0"
         data-slick='{"slidesToShow": 1, "arrows": true, "dots": false, "speed": 700,"fade": true,"cssEase": "linear"}'>
        {% for slide in entry.slider2.all() %}
            {% include 'block/slider2/slide' %}
        {%  endfor %}
    </div><!-- /.carousel -->
</section><!-- /.slider -->