<!DOCTYPE html>

{% include 'elements/head' %}

<body>
<div class="wrapper">
    <div class="preloader">
        <div class="spinner"><span class="cube1"></span><span class="cube2"></span></div>
    </div><!-- /.preloader -->

    <!-- =========================
        Header
    =========================== -->
    {% include 'elements/header' %}


    <!-- ============================
        Slider
    ============================== -->
    {% include 'block/slider/index' %}

    <!-- ========================
    features
    =========================== -->
    {% include 'block/features/index' %}

    <!-- ========================
      About Layout 2
    =========================== -->
    {% include 'block/video/index' %}

    <!-- =====================
         Brands
      ======================== -->

    {% include 'elements/brands/index' %}

    {% include 'elements/footer' %}

</div><!-- /.wrapper -->
{% include 'elements/scripts/bottom' %}
</body>
</html>